.frame1 {
  box-sizing: border-box;
  padding-top: 32px;
  padding-left: 14px;
  padding-bottom: 32px;
  padding-right: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  width: 100%;
}

.alertsContainer {
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  width: unset;
  align-self: stretch;
  height: unset;
}

.errorAlert {
  position: relative;
  align-self: stretch;
  width: unset;
  height: unset;
}

.infoAlert {
  position: relative;
  align-self: stretch;
  width: unset;
  height: unset;
}

.sheetsBlock {
  box-sizing: border-box;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  width: unset;
  align-self: stretch;
  height: unset;
  position: relative;
}

.sheetsHeader {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: unset;
  height: unset;
}

.googeSheets {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: unset;
  height: unset;
  color: rgb(0, 0, 0);
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  text-align: left;
  letter-spacing: 0%;
}

.questionCircle {
}

.urlGroup {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  width: unset;
  align-self: stretch;
  height: unset;
}

.link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: unset;
  height: unset;
  color: rgb(0, 0, 0);
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 150%;
  text-align: left;
  letter-spacing: 0%;
}

.input {
  align-self: stretch;
  width: unset;
  height: unset;
}

.nodesBlock {
  box-sizing: border-box;
  padding-top: 6px;
  padding-left: 12px;
  padding-bottom: 6px;
  padding-right: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  width: unset;
  align-self: stretch;
  height: unset;
}

.stats {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: unset;
  height: unset;
  color: rgb(0, 0, 0);
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  text-align: left;
  letter-spacing: 0%;
}

.nodesContent {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  width: unset;
  align-self: stretch;
  height: unset;
}

.lastPublish {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  width: unset;
  align-self: stretch;
  height: unset;
}

.lastPublication {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: unset;
  height: unset;
  color: rgb(0, 0, 0);
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 150%;
  text-align: left;
  letter-spacing: 0%;
}

.input_220_19867 {
  align-self: stretch;
  width: unset;
  height: unset;
}

.publishButton {
  align-self: stretch;
  width: unset;
  height: unset;
}
